/** Admin Notice **/
.he-notice.notice {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 40px 20px 20px !important;
    position: relative;
}

.he-notice.notice .he-notice-logo {
    width: 84px;
    flex: 84px 0 0;
}

.he-notice.notice .he-notice-logo svg {
    fill: #72aee6;
    display: block;
}

.he-notice.notice p {
    padding: 0;
    margin: 0 0 15px;
    font-size: 16px;
}

.he-notice.notice .button .dashicons {
    height: auto;
    width: auto;
    margin: 0 6px 0 0;
    vertical-align: middle;
    font-size: 16px;
}

.he-notice a.notice-dismiss {
    text-decoration: none;
}

.he-notice-star {
    color: #ffa534;
}