.he-news-module-one,
.he-news-module-two,
.he-news-module-three,
.he-news-module-four,
.he-news-module-five,
.he-news-module-six,
.he-news-module-seven,
.he-news-module-eight,
.he-news-module-nine,
.he-news-module-ten,
.he-news-module-eleven {
    background-repeat: no-repeat;
    width: 60px !important;
    height: 50px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/viral-news-layouts.png) !important;
}

.he-news-module-one {
    background-position: -20px -13px;
}

.he-news-module-two {
    background-position: -120px -13px;
}

.he-news-module-three {
    background-position: -20px -94px;
}

.he-news-module-four {
    background-position: -120px -94px;
}

.he-news-module-five {
    background-position: -20px -175px;
}

.he-news-module-six {
    background-position: -120px -175px;
}

.he-news-module-seven {
    background-position: -20px -257px;
}

.he-news-module-eight {
    background-position: -120px -257px;
}

.he-news-module-nine {
    background-position: -20px -337px;
}

.he-news-module-ten {
    background-position: -120px -339px;
}

.he-news-module-eleven {
    background-position: -20px -418px;
}

.he-elementor-pro-no #elementor-panel-category-pro-elements,
.he-elementor-pro-no #elementor-panel-category-theme-elements,
.he-elementor-pro-no #elementor-panel-category-woocommerce-elements,
.he-elementor-pro-no #elementor-panel-get-pro-elements,
.he-elementor-pro-no .elementor-control-dynamic-switcher,
.he-elementor-pro-no .elementor-control-section_custom_css_pro,
.he-elementor-pro-no .elementor-control-section_custom_attributes_pro,
.he-elementor-pro-no [data-tab="global"],
.he-elementor-pro-no .elementor-context-menu-list__group.elementor-context-menu-list__group-save{
    display: none !important;
}