/*Elementor Plugin Hack*/
.elementor-section > .elementor-column-gap-default > .elementor-row {
    width: calc(100% + 20px);
    margin: -10px;
}

.elementor-section > .elementor-column-gap-narrow > .elementor-row {
    width: calc(100% + 10px);
    margin: -5px;
}

.elementor-section > .elementor-column-gap-extended > .elementor-row {
    width: calc(100% + 30px);
    margin: -15px;
}

.elementor-section > .elementor-column-gap-wide > .elementor-row {
    width: calc(100% + 40px);
    margin: -20px;
}

.elementor-section > .elementor-column-gap-wider > .elementor-row {
    width: calc(100% + 60px);
    margin: -30px;
}


@media screen and (max-width:1200px){
    .elementor-section.elementor-section-boxed>.elementor-container{
        padding: 0 5%;
    }
}

.he-clearfix:before,
.he-clearfix:after{
    content: "";
    display: table;
}

.he-clearfix:after{
    clear: both;
}

/* Block Title */
.he-viral-news .he-block-title{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #EEE;
    margin-bottom: 30px;
    font-weight: normal;
    line-height: 1;
}

.he-viral-news .he-block-title span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.he-viral-news .he-block-title span:before{
    content: "";
    position: absolute;
    height: 3px;
    top: 100%;
    left: 0;
    width: 100%;
}

.he-viral .he-block-title{
    position: relative;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    border-left: 10px solid #0078af;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1;
}

.he-viral .he-block-title span{
    padding: 0 20px 0 15px;
    display: inline-block;
}

.he-viral .he-block-title:after{
    content: "";
    flex-grow: 1;
    background: rgba(0,0,0,0.03);
}

.he-block-title a,
.he-block-title span{
    color: inherit;
}

.he-excerpt{
    font-size: 1rem;
}

/* Widget Title */
.elementor-widget h5{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #EEE;
    margin-bottom: 30px;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 10px;
}

/* Post Meta */
.he-post-meta{
    font-size: 12px;
    opacity: 0.8;
}

.he-post-meta > span {
    margin-right: 20px;
}

.he-post-meta > span:last-child{
    margin-right: 0;
}

.he-post-meta i{
    margin-right: 5px;
    font-size: 0.88em;
    font-weight: bold;
}

/* Post Categories in Thumbnail */
.he-post-thumb .post-categories{
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 99;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.he-post-thumb .post-categories li{
    display: inline-block;
}

.he-post-thumb .post-categories li a{
    display: block;
    background: #0E0E0E;
    color: #F0F0F0;
    font-size: 10px;
    padding: 4px 6px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 5px;
}

.he-post-thumb .post-categories li a:hover{
    background: #0078af;
}

/* Post Categories in excerpt */
.he-post-content .post-categories{
    margin: 0 0 5px;
    padding: 0;
    font-size: 0;
}

.he-post-content .post-categories li{
    display: inline-block;
}

.he-post-content .post-categories li a{
    display: block;
    background: #0E0E0E;
    color: #F0F0F0;
    font-size: 9px;
    padding: 4px 6px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
}

.he-post-content .post-categories li a:hover{
    background: #0078af;
}

/* Post Categories Tile */
.he-tile-block .post-categories {
    top: 25px;
    left: 25px;
    bottom: auto;
}

/* Title Font Size */
h3.he-post-title{
    font-size: 16px;
}

h3.he-post-title a{
    color: inherit;
}

h3.he-large-title{
    font-size: 26px;
}

h3.he-big-title{
    font-size: 22px;
}

/* Post Items */
.he-post-item{
    margin-bottom: 30px;
}

.he-post-item:last-child{
    margin-bottom: 0;
}

/* Thumb */
.he-thumb-container {
    position: relative;
    padding-bottom: 70%;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.he-thumb-container img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.he-post-thumb{
    overflow: hidden;
    position: relative
}

.he-viral .he-post-thumb img{
    transform: scale(1);
    transition: all 0.3s ease;
}

.he-viral .he-post-thumb:hover img{
    transform: scale(1.2);
}

.he-viral-news .he-post-thumb > a{
    position: relative;
    display: block;
    overflow: hidden;
}

.he-viral-news .he-post-thumb > a:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.he-viral-news .he-post-thumb > a:hover:before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.he-post-title{
    margin-bottom: 10px;
}

.he-post-meta{
    margin-bottom: 10px;
}

.he-post-title:last-child,
.he-post-meta:last-child,
.he-excerpt:last-child{
    margin-bottom: 0;
}

/* Gradient Title */

.he-post-content.he-gradient-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.9)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0)
}

.he-post-content.he-gradient-overlay h3.he-post-title {
    color: #fff
}

/* News Module One */

.he-news-module-one .he-news-module-one-wrap {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    align-items: center
}

.he-news-module-one .he-post-item {
    padding: 0 20px;
    margin-bottom: 0
}

.he-news-module-one .he-post-content {
    text-align: center
}

.he-news-module-one .he-post-item .he-post-thumb {
    margin-bottom: 20px
}

.he-news-module-one .he-post-item .he-thumb-container {
    padding-bottom: 80%
}

.he-news-module-one .he-post-item:nth-child(1) .he-thumb-container {
    padding-bottom: 100%
}

.he-news-module-one .he-post-item:nth-child(1) {
    width: 50%;
    order: 2
}

.he-news-module-one .he-post-item:nth-child(2) {
    order: 1;
    width: 25%
}

.he-news-module-one .he-post-item:nth-child(3) {
    order: 3;
    width: 25%
}

/* News Module Two */

.he-news-module-two .he-news-module-two-wrap {
    margin-left: -20px;
    margin-right: -20px;
    display: flex
}

.he-news-module-two .he-post-content {
    text-align: center
}

.he-news-module-two .he-post-item .he-post-thumb {
    margin-bottom: 20px
}

.he-news-module-two .col2 {
    width: 25%;
    order: 1;
    padding: 0 20px
}

.he-news-module-two .col1 {
    width: 50%;
    order: 2;
    padding: 0 20px
}

.he-news-module-two .col3 {
    width: 25%;
    order: 3;
    padding: 0 20px
}

.he-news-module-two .he-thumb-container {
    padding-bottom: 86%
}

.he-news-module-two .col1 .he-thumb-container {
    padding-bottom: 80%
}

/* News Module Three */

.he-news-module-three .he-news-module-three-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex
}

.he-news-module-three .col1,
.he-news-module-three .col2{
    width: 50%;
    padding: 0 15px
}

.he-news-module-three .col1 .he-post-item,
.he-news-module-three .col1 .he-post-thumb,
.he-news-module-three .col1 .he-post-thumb>a,
.he-news-module-three .col1 .he-thumb-container {
    height: 100%
}

.he-news-module-three .col1 .he-post-thumb .post-categories {
    left: 30px;
    right: 30px;
    bottom: auto;
    top: 30px
}

.he-news-module-three .col1 .he-post-content {
    padding: 30px
}

.he-news-module-three .col1 .he-thumb-container {
    padding-bottom: 0
}

.he-news-module-three .col2 .he-post-item {
    width: 50%;
    padding: 0 15px
}

.he-news-module-three .col2-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px
}

.he-news-module-three .col2-wrap .he-post-thumb {
    margin-bottom: 15px
}

.he-news-module-three .col2 .he-post-item:nth-last-child(2), 
.he-news-module-three .col2 .he-post-item:nth-last-child(1) {
    margin-bottom: 0
}

/* News Module Four */

.he-news-module-four .he-news-module-four-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap
}

.he-news-module-four .he-post-item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 0
}

.he-news-module-four .he-post-content {
    text-align: center
}

.he-news-module-four .he-post-thumb {
    margin-bottom: 15px
}

.he-news-module-four .he-post-item:nth-child(1),
.he-news-module-four .he-post-item:nth-child(2) {
    width: 50%;
    margin-bottom: 30px
}

.he-news-module-four .he-post-item:nth-child(1) .he-thumb-container,
.he-news-module-four .he-post-item:nth-child(2) .he-thumb-container {
    padding-bottom: 60%
}

/* News Module Five */

.he-news-module-five-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap
}

.he-news-module-five .he-big-block,
.he-news-module-five .he-small-block {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-five .he-big-block .he-post-item {
    margin-bottom: 0;
}

.he-news-module-five .he-big-block .he-post-thumb {
    margin-bottom: 20px;
}

.he-news-module-five .he-small-block .he-thumb-container {
    padding-bottom: 80%;
}

.he-news-module-five .he-small-block .he-post-thumb {
    float: left;
    width: 120px;
}

.he-news-module-five .he-small-block .he-post-content {
    margin-left: 140px;
}

/* News Module Six */

.he-news-module-six .he-big-block .he-post-thumb {
    margin-bottom: 30px;
}

.he-news-module-six .he-big-block .he-post-thumb .post-categories {
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
}

.he-news-module-six .he-big-block .he-thumb-container {
    padding-bottom: 60%;
}

.he-news-module-six .he-big-block .he-post-content {
    padding: 30px;
}

.he-news-module-six .he-small-block {
    display: flex;
    margin: 0 -15px;
}

.he-news-module-six .he-small-block .he-post-item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 0;
}

.he-news-module-six .he-small-block .he-post-thumb {
    margin-bottom: 15px;
}

/* News Module Seven */

.he-news-module-seven .he-big-block{
    margin-bottom: 30px;
}

.he-news-module-seven .he-big-block .he-post-thumb {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.he-news-module-seven .he-big-block .he-post-content {
    margin-left: 50%;
    padding-left: 15px;
}

.he-news-module-seven .he-small-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.he-news-module-seven .he-small-block .he-post-item {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-seven .he-small-block .he-post-item:nth-last-child(2) {
    margin-bottom: 0;
}

.he-news-module-seven .he-small-block .he-post-thumb {
    float: left;
    width: 120px;
}

.he-news-module-seven .he-small-block .he-post-content {
    margin-left: 140px;
}

/* News Module Eight*/

.he-news-module-eight-wrap {
    margin: 0 -15px;
    display: flex;
}

.he-news-module-eight .he-big-block,
.he-news-module-eight .he-small-block {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-eight .he-post-thumb {
    margin-bottom: 15px;
}

.he-news-module-eight .he-big-block .he-post-meta {
    margin-bottom: 10px;
}

.he-news-module-eight .he-small-block-wrap {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.he-news-module-eight .he-small-block .he-post-item {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-eight .he-small-block .he-post-item:nth-last-child(2),
.he-news-module-eight .he-small-block .he-post-item:nth-last-child(1){
    margin-bottom: 0;
}

/* News Module Nine */

.he-big-post-item{
    margin-bottom: 30px;
}

.he-big-post-item .he-post-thumb{
    position: relative;
    overflow: hidden;
}

.he-big-post-item .he-post-thumb img{
    width: 100%;
}

.he-big-post-item .he-post-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #FFF;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}

.he-big-post-item h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.he-big-post-item .he-post-thumb .post-categories{
    top: 20px;
    left: 20px;
    bottom: auto;
}

.he-news-module-nine .he-post-item .he-post-thumb{
    float: left;
    width: 120px;
}

.he-news-module-nine .he-post-item .he-post-content{
    margin-left: 140px;
}

/* News Module Ten */

.he-news-module-ten .he-post-item .he-post-thumb{
    float: left;
    width: 120px;
}

.he-news-module-ten .he-post-item .he-post-content{
    margin-left: 140px;
}

/* News Module Eleven */

.he-grid-blocks{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -15px -30px;
}

.he-grid-block {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.he-grid-block-inner{
    position: relative;
    overflow: hidden;
}

.he-grid-block .he-post-thumb .he-thumb-container{
    padding-bottom: 100%;
}

.he-grid-block .he-post-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 15px 10px;
    color: #FFF;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0)
}

.he-grid-block .he-post-meta{
    max-height: 0;
    margin-top: 5px;
    color: #F6F6F6;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.he-grid-block-inner:hover .he-post-meta{
    max-height: 30px;
}

.he-grid-block .he-post-thumb .post-categories{
    bottom: auto;
    top: 15px;
}

/* News Module Twelve */

.he-double-small-block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.he-double-small-block .he-post-item {
    width: 50%;
    padding: 0 15px;
}

.he-double-small-block .he-post-item:nth-last-child(2){
    margin-bottom: 0;
}

.he-double-small-block .he-post-thumb{
    float: left;
    width: 120px;
}

.he-double-small-block .he-post-thumb .he-thumb-container{
    padding-bottom: 80%;
}

.he-double-small-block .he-post-content{
    margin-left: 140px;
}


/* News Module Thirteen */

.he-alternate-block{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.he-alt-post-item{
    width: 33.333%;
    background: #F9F9F9;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.he-alt-post-item .he-post-thumb .he-thumb-container{
    padding-bottom: 100%;
}

.he-alt-post-item .he-post-thumb{
    width: 100%;
}

.he-alt-post-item .he-post-thumb a img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.he-alt-post-item:nth-child(2){
    flex-direction: column-reverse;
}

.he-alt-post-item:hover{
    background: #F4F4F4;
}

.he-alt-post-item .he-post-content{
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.he-alt-post-item .he-post-content .he-post-content-inner{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100%;
}

.he-alt-post-item .posted-on{
    margin-bottom: 6px;
}


/* News Module Fourteen */

.he-four-column-block{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.he-four-column-block .he-post-item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 0;
}

.he-four-column-block .he-post-thumb{
    margin-bottom: 20px;
}

.he-four-column-block .he-post-content{
    margin-left: 0;
}

.he-four-column-block .posted-on{
    margin-bottom: 10px;
}


/* News Module Fifteen */

.he-mini-news{
    display: flex;
    display: -webkit-flex;
    margin-left: -15px;
    margin-right: -15px;
}

.he-mini-news .he-post-thumb{
    width: 120px;
    float: left;
}

.he-mini-news .he-post-thumb .he-thumb-container{
    padding-bottom: 100%;
}

.he-mini-news .he-post-item{
    width: 33.33%;
    float: left;
    margin-bottom: 0;
    padding: 0 15px;
    position: relative;
}

.he-mini-news .he-post-item .he-post-content{
    margin-left: 140px;
}

/* Carousel Section */
.he-carousel-block .he-post-thumb{
    margin-bottom: 20px;
}

.he-carousel-block .he-post-content{
    text-align: center;
    padding: 0 10px;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev, 
.he-carousel-block .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 35px;
    line-height: 40px;
    text-align: center;
    background: #0078af;
    font-size: 26px;
    color: #FFF;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev{
    left: 0;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.he-carousel-block .owl-carousel:hover .owl-nav button.owl-prev, 
.he-carousel-block .owl-carousel:hover .owl-nav button.owl-next{
    opacity: 1;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev:hover, 
.he-carousel-block .owl-carousel .owl-nav button.owl-next:hover{
    background: #000;
}

.he-carousel-block .owl-carousel .owl-dots{
    margin-top: 40px;
    text-align: center;
}

.he-carousel-block .owl-carousel button.owl-dot{
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: 0;
    margin: 0 5px;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    border-radius: 20px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.he-carousel-block .owl-carousel button.owl-dot.active{
    transform: scale(1.2);
}

/* Tile Block */
.he-thumb,
.he-parent {
    float: left;
}

.he-width-25 {
    width: 25%;
}

.he-width-33 {
    width: 33.33%;
}

.he-width-35 {
    width: 35%;
}

.he-width-50 {
    width: 50%;
}

.he-width-65 {
    width: 65%;
}

.he-width-100 {
    width: 100%;
}

.he-height-33 {
    height: 33.33%;
}

.he-height-50 {
    height: 50%;
}

.he-height-100 {
    height: 100%;
}

.he-thumb img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}

.space-10 {
    margin: -5px;
}

.space-10 .he-thumb {
    padding: 5px;
}

.he-post-thumb {
    position: relative;
}

.he-post-thumb>a {
    position: relative;
    display: block;
    overflow: hidden;
}

.he-post-thumb img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.he-thumb-inner.he-post-thumb {
    background-position: center;
    background-size: cover;
}


.he-thumb-inner.he-post-thumb img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.he-thumb-inner {
    position: relative;
    height: 100%;
}

.he-thumb-inner>a {
    position: relative;
    height: 100%;
    display: block;
}

.he-title-container h3 {
    color: #FFF;
    margin-bottom: 0;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.he-thumb-inner:hover .he-title-container h3:after {
    width: 100%;
}

.he-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0)
}

.he-title-container h3.he-post-title {
    color: #FFF;
    margin-bottom: 15px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.he-title-container h3:after {
    content: "";
    position: absolute;
    height: 1px;
    margin-top: 6px;
    background: #FFF;
    top: 100%;
    left: 0;
    width: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.he-thumb-inner:hover .he-title-container h3:after {
    width: 100%;
}

.he-title-container>a {
    color: #FFF !important;
    padding: 25px 25px 15px;
    display: block;
}

.he-tile-block.style1 {
    height: 500px;
}

.he-tile-block.style2 {
    height: 500px;
}

.he-tile-block.style3 {
    height: 400px;
}


/* Ticker Module */
.he-ticker{
    position: relative;
    background: #F6F6F6;
    padding: 10px;
    overflow: hidden;
}

.he-ticker-title{
    float: left;
    background: #0078af;
    color: #FFF;
    line-height: 32px;
    white-space: nowrap;
    padding: 0 15px;
    margin-right: 40px;
    position: relative;
    font-size: 1.1em;
}

.he-ticker-title:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-color: transparent transparent transparent #0078af;
    border-width: 16px;
    border-style: solid;
}

.he-ticker .owl-carousel{
    padding-right: 75px;
}

.he-ticker .owl-item a{
    display: block;
    line-height: 32px;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.he-ticker .owl-item a:hover{
    color: #0078af;
}

.he-ticker .owl-nav{
    position: absolute;
    right: 0;
    top: 5px;
}

.he-ticker .owl-carousel .owl-nav button.owl-prev, 
.he-ticker .owl-carousel .owl-nav button.owl-next{
    height: 22px;
    width: 22px;
    line-height: 22px;
    padding: 0;
    background: #0078af;
    color: #FFF;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-left: 4px;
}

.he-ticker .owl-carousel .owl-nav button.owl-prev:hover, 
.he-ticker .owl-carousel .owl-nav button.owl-next:hover{
    background: #0E0E0E;
}

.he-ticker .owl-carousel .owl-nav button.owl-prev i, 
.he-ticker .owl-carousel .owl-nav button.owl-prev i{
    line-height: 22px;
    font-style: normal;
}

@media screen and (max-width: 768px){
    .he-news-module-one .he-news-module-one-wrap,
    .he-news-module-two .he-news-module-two-wrap,
    .he-news-module-three .he-news-module-three-wrap,
    .he-news-module-eight .he-news-module-eight-wrap{
        flex-wrap: wrap;
    }

    .he-news-module-one .he-post-item:nth-child(1),
    .he-news-module-two .col1,
    .he-news-module-three .col1{
        width: 100%;
        order: unset;
        margin-bottom: 30px;
    }

    .he-news-module-one .he-post-item:nth-child(2),
    .he-news-module-one .he-post-item:nth-child(3),
    .he-news-module-two .col2,
    .he-news-module-two .col3{
        order: unset;
        width: 50%;
    }

    .he-news-module-three .col2,
    .he-news-module-eight .he-big-block, 
    .he-news-module-eight .he-small-block{
        width: 100%;
    }

    .he-news-module-four .he-post-item{
        width: 50%;
        margin-bottom: 30px;
    }

    .he-news-module-eight .he-big-block{
        margin-bottom: 30px;
    }

    .he-alternate-block{
        margin: 0 -5px;
    }

    .he-alternate-block .he-alt-post-item{
        padding: 0 5px;
        background: none;
    }

    .he-alt-post-item:nth-child(2){
        flex-direction: column;
    }

    .he-alt-post-item .he-post-content{
        height: auto;
        padding: 0;
    }

    .he-alt-post-item .he-post-content .he-post-content-inner{
        position: static;
        padding: 20px 0 0;
    }

    .he-four-column-block .he-post-item{
        width: 50%;
        margin-bottom: 30px;
    }

    .he-mini-news{
        flex-wrap: wrap;
    }

    .he-mini-news .he-post-item{
        width: 100%;
        margin-bottom: 30px;
    }

    .he-mini-news .he-post-item:last-child{
        margin-bottom: 0;
    }

    .he-tile-block.style1,
    .he-tile-block.style2,
    .he-tile-block.style3 {
        height: auto;
    }

    .he-width-25,
    .he-width-33,
    .he-width-35,
    .he-width-50,
    .he-width-65,
    .he-width-100 {
        width: 100%;
    }

    .he-height-33,
    .he-height-50,
    .he-height-100 {
        height: auto;
    }

    .he-thumb-inner.he-post-thumb>a {
        position: relative;
        padding-bottom: 70%;
        background: #f7f7f7 url('images/preloader.gif');
        background-position: center;
        background-size: cover;
    }

    .he-thumb-inner.he-post-thumb img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width: 580px){

    .he-news-module-one .he-news-module-one-wrap,
    .he-news-module-two .he-news-module-two-wrap,
    .he-news-module-three .he-news-module-three-wrap{
        display: block;
    }

    .he-news-module-one .he-post-item:nth-child(1),
    .he-news-module-one .he-post-item:nth-child(2),
    .he-news-module-one .he-post-item:nth-child(3),
    .he-news-module-two .col1,
    .he-news-module-two .col2,
    .he-news-module-two .col3,
    .he-news-module-three .col1,
    .he-news-module-three .col2{
        width: 100%;
        order: unset;
        margin-bottom: 30px;
    }

    .he-news-module-three .col2 .he-post-item,
    .he-news-module-three .col2 .he-post-item:nth-last-child(2){
        width: 100%;
        margin-bottom: 30px;
    }

    .he-news-module-one .he-post-item:last-child,
    .he-news-module-four .he-post-item:last-child{
        margin-bottom: 0;
    }

    .he-news-module-four .he-post-item:nth-child(1), 
    .he-news-module-four .he-post-item:nth-child(2),
    .he-news-module-four .he-post-item{
        width: 100%;
    }

    .he-news-module-five .he-big-block,
    .he-news-module-five .he-small-block{
        width: 100%;
        float: none;
    }

    .he-news-module-five .he-big-block{
        margin-bottom: 30px;
    }

    .he-news-module-six .he-small-block{
        display: block;
    }

    .he-news-module-six .he-small-block .he-post-item{
        width: 100%;
        margin-bottom: 30px;
    }

    .he-news-module-six .he-small-block .he-post-item:last-child{
        margin-bottom: 0;
    }

    .he-news-module-seven .he-big-block .he-post-thumb,
    .he-news-module-seven .he-big-block .he-post-content{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        float: none;
        margin: 0;
    }

    .he-news-module-seven .he-small-block .he-post-item:nth-last-child(2){
        margin-bottom: 30px;
    }

    .he-news-module-seven .he-big-block .he-post-thumb{
        margin-bottom: 20px;
    }

    .he-news-module-seven .he-small-block .he-post-item{
        width: 100%;
    }

    .he-news-module-eight .he-small-block .he-post-item{
        width: 100%;
    }

    .he-news-module-eight .he-small-block .he-post-item:nth-last-child(2){
        margin-bottom: 30px;
    }

    .he-grid-blocks{
        display: block;
        margin: 0;
    }

    .he-grid-block{
        width: auto;
        padding: 0;
    }

    .he-grid-block:last-child{
        margin-bottom: 0;
    }

    .he-grid-block .he-post-content{
        padding: 25px;
    }

    .he-double-small-block{
        margin: 0;
    }

    .he-double-small-block .he-post-item{
        width: 100%;
        padding: 0;
    }

    .he-double-small-block .he-post-item:nth-last-child(2){
        margin-bottom: 30px;
    }

    .he-alternate-block{
        display: block;
    }

    .he-alt-post-item .he-post-thumb .he-thumb-container{
        padding-bottom: 70%;
    }

    .he-alt-post-item{
        width: 100%;
        margin-bottom:30px;
    }

    .he-alt-post-item img{
        width: 100%;
    }

    .he-four-column-block .he-post-item{
        width: 100%;
    }
    
    .he-ticker{
        max-height: none;
    }

    .he-ticker-title{
        float: none;
        display: block;
        margin-right: 0;
        text-align: center;
        margin-bottom: 5px;
    }

    .he-ticker-title:after{
        display: none;
    }
}