/*Elementor Plugin Hack*/
.elementor-section > .elementor-column-gap-default > .elementor-row {
    width: calc(100% + 20px);
    margin: -10px;
}

.elementor-section > .elementor-column-gap-narrow > .elementor-row {
    width: calc(100% + 10px);
    margin: -5px;
}

.elementor-section > .elementor-column-gap-extended > .elementor-row {
    width: calc(100% + 30px);
    margin: -15px;
}

.elementor-section > .elementor-column-gap-wide > .elementor-row {
    width: calc(100% + 40px);
    margin: -20px;
}

.elementor-section > .elementor-column-gap-wider > .elementor-row {
    width: calc(100% + 60px);
    margin: -30px;
}


@media screen and (max-width:1200px){
    .elementor-section.elementor-section-stretched.elementor-section-boxed>.elementor-container{
        padding: 0 40px;
    }
}

@media screen and (max-width:1000px){
    .elementor-section.elementor-section-stretched.elementor-section-boxed>.elementor-container{
        padding: 0 20px;
    }
}

.he-clearfix:before,
.he-clearfix:after{
    content: "";
    display: table;
}

.he-clearfix:after{
    clear: both;
}

/* Block Title */
.he-block-title{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #EEE;
    margin-bottom: 30px;
    font-weight: normal;
    line-height: 20px;
}

.he-block-title span{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.he-block-title span:before{
    content: "";
    position: absolute;
    height: 3px;
    top: 100%;
    left: 0;
    width: 100%;
}

.he-excerpt{
    font-size: 1rem;
}

/* Widget Title */
.elementor-widget h5{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #EEE;
    margin-bottom: 30px;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 10px;
}

/* Thumbnails */
.he-post-thumb {
    position: relative
}

.he-thumb-container {
    position: relative;
    padding-bottom: 70%;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.he-thumb-container img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

/* Post Meta */
.he-post-meta{
    font-size: 12px;
    opacity: 0.8;
}

.he-post-meta > span {
    margin-right: 10px;
}

.he-post-meta > span:last-child{
    margin-right: 0;
}

.he-post-meta .fa{
    margin-right: 5px;
    font-size: 0.88em;
}

/* Post Categories in Thumbnail */
.he-post-thumb .post-categories{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.he-post-thumb .post-categories li{
    display: inline-block;
}

.he-post-thumb .post-categories li a{
    display: block;
    background: #0E0E0E;
    color: #F0F0F0;
    font-size: 9px;
    padding: 4px 6px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
}

.he-post-thumb .post-categories li a:hover{
    background: #0078af;
}

/* Post Categories in Content */
.he-post-content .post-categories{
    margin: 0 0 5px;
    padding: 0;
    font-size: 0;
}

.he-post-content .post-categories li{
    display: inline-block;
}

.he-post-content .post-categories li a{
    display: block;
    background: #0E0E0E;
    color: #F0F0F0;
    font-size: 9px;
    padding: 4px 6px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
}

.he-post-content .post-categories li a:hover{
    background: #0078af;
}

/* Title Font Size */
.he-post-item h3.he-large-title{
    font-size: 26px;
}

.he-post-item h3.he-big-title{
    font-size: 22px;
}

/* Post Items */
.he-post-item{
    margin-bottom: 30px;
}

.he-post-item:last-child{
    margin-bottom: 0;
}

.he-post-item h3{
    font-size: 16px;
}

.he-post-item h3 a{
    color: inherit;
}

/* Thumb Hover */
.he-post-thumb{
    overflow: hidden;
}

.he-post-thumb img{
    transform: scale(1);
    transition: all 0.3s ease;
}

.he-post-thumb:hover img{
    transform: scale(1.2);
}

.he-post-title{
    margin-bottom: 10px;
}

.he-post-meta{
    margin-bottom: 10px;
}

.he-post-title:last-child,
.he-post-meta:last-child,
.he-excerpt:last-child{
    margin-bottom: 0;
}

/* Gradient Title */

.he-post-content.he-gradient-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.9)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0)
}

.he-post-content.he-gradient-overlay h3.he-post-title {
    color: #fff
}

/* News Module One */

.he-news-module-one .he-news-module-one-wrap {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    align-items: center
}

.he-news-module-one .he-post-item {
    padding: 0 20px;
    margin-bottom: 0
}

.he-news-module-one .he-post-content {
    text-align: center
}

.he-news-module-one .he-post-item .he-post-thumb {
    margin-bottom: 20px
}

.he-news-module-one .he-post-item .he-thumb-container {
    padding-bottom: 80%
}

.he-news-module-one .he-post-item:nth-child(1) .he-thumb-container {
    padding-bottom: 100%
}

.he-news-module-one .he-post-item:nth-child(1) {
    width: 50%;
    order: 2
}

.he-news-module-one .he-post-item:nth-child(2) {
    order: 1;
    width: 25%
}

.he-news-module-one .he-post-item:nth-child(3) {
    order: 3;
    width: 25%
}

/* News Module Two */

.he-news-module-two .he-news-module-two-wrap {
    margin-left: -20px;
    margin-right: -20px;
    display: flex
}

.he-news-module-two .he-post-content {
    text-align: center
}

.he-news-module-two .he-post-item .he-post-thumb {
    margin-bottom: 20px
}

.he-news-module-two .col2 {
    width: 25%;
    order: 1;
    padding: 0 20px
}

.he-news-module-two .col1 {
    width: 50%;
    order: 2;
    padding: 0 20px
}

.he-news-module-two .col3 {
    width: 25%;
    order: 3;
    padding: 0 20px
}

.he-news-module-two .he-thumb-container {
    padding-bottom: 86%
}

.he-news-module-two .col1 .he-thumb-container {
    padding-bottom: 80%
}

/* News Module Three */

.he-news-module-three .he-news-module-three-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex
}

.he-news-module-three .col1,
.he-news-module-three .col2{
    width: 50%;
    padding: 0 15px
}

.he-news-module-three .col1 .he-post-item,
.he-news-module-three .col1 .he-post-thumb,
.he-news-module-three .col1 .he-post-thumb>a,
.he-news-module-three .col1 .he-thumb-container {
    height: 100%
}

.he-news-module-three .col1 .he-post-thumb .post-categories {
    left: 30px;
    right: 30px;
    bottom: auto;
    top: 30px
}

.he-news-module-three .col1 .he-post-content {
    padding: 30px
}

.he-news-module-three .col1 .he-thumb-container {
    padding-bottom: 0
}

.he-news-module-three .col2 .he-post-item {
    width: 50%;
    padding: 0 15px
}

.he-news-module-three .col2-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px
}

.he-news-module-three .col2-wrap .he-post-thumb {
    margin-bottom: 15px
}

.he-news-module-three .col2 .he-post-item:nth-last-child(2), 
.he-news-module-three .col2 .he-post-item:nth-last-child(1) {
    margin-bottom: 0
}

/* News Module Four */

.he-news-module-four .he-news-module-four-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap
}

.he-news-module-four .he-post-item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 0
}

.he-news-module-four .he-post-content {
    text-align: center
}

.he-news-module-four .he-post-thumb {
    margin-bottom: 15px
}

.he-news-module-four .he-post-item:nth-child(1),
.he-news-module-four .he-post-item:nth-child(2) {
    width: 50%;
    margin-bottom: 30px
}

.he-news-module-four .he-post-item:nth-child(1) .he-thumb-container,
.he-news-module-four .he-post-item:nth-child(2) .he-thumb-container {
    padding-bottom: 60%
}

/* News Module Five */

.he-news-module-five-wrap {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap
}

.he-news-module-five .he-big-block,
.he-news-module-five .he-small-block {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-five .he-big-block .he-post-item {
    margin-bottom: 0;
}

.he-news-module-five .he-big-block .he-post-thumb {
    margin-bottom: 20px;
}

.he-news-module-five .he-small-block .he-thumb-container {
    padding-bottom: 80%;
}

.he-news-module-five .he-small-block .he-post-thumb {
    float: left;
    width: 120px;
}

.he-news-module-five .he-small-block .he-post-content {
    margin-left: 140px;
}

/* News Module Six */

.he-news-module-six .he-big-block .he-post-thumb {
    margin-bottom: 30px;
}

.he-news-module-six .he-big-block .he-post-thumb .post-categories {
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
}

.he-news-module-six .he-big-block .he-thumb-container {
    padding-bottom: 60%;
}

.he-news-module-six .he-big-block .he-post-content {
    padding: 30px;
}

.he-news-module-six .he-small-block {
    display: flex;
    margin: 0 -15px;
}

.he-news-module-six .he-small-block .he-post-item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 0;
}

.he-news-module-six .he-small-block .he-post-thumb {
    margin-bottom: 15px;
}

/* News Module Seven */

.he-news-module-seven .he-big-block{
    margin-bottom: 30px;
}

.he-news-module-seven .he-big-block .he-post-thumb {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.he-news-module-seven .he-big-block .he-post-content {
    margin-left: 50%;
    padding-left: 15px;
}

.he-news-module-seven .he-small-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.he-news-module-seven .he-small-block .he-post-item {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-seven .he-small-block .he-post-item:nth-last-child(2) {
    margin-bottom: 0;
}

.he-news-module-seven .he-small-block .he-post-thumb {
    float: left;
    width: 120px;
}

.he-news-module-seven .he-small-block .he-post-content {
    margin-left: 140px;
}

/* News Module Eight*/

.he-news-module-eight-wrap {
    margin: 0 -15px;
    display: flex;
}

.he-news-module-eight .he-big-block,
.he-news-module-eight .he-small-block {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-eight .he-post-thumb {
    margin-bottom: 15px;
}

.he-news-module-eight .he-big-block .he-post-meta {
    margin-bottom: 10px;
}

.he-news-module-eight .he-small-block-wrap {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.he-news-module-eight .he-small-block .he-post-item {
    width: 50%;
    padding: 0 15px;
}

.he-news-module-eight .he-small-block .he-post-item:nth-last-child(2),
.he-news-module-eight .he-small-block .he-post-item:nth-last-child(1){
    margin-bottom: 0;
}

/* News Module Nine */

.he-big-post-item{
    margin-bottom: 30px;
}

.he-big-post-item .he-post-thumb{
    position: relative;
    overflow: hidden;
}

.he-big-post-item .he-post-thumb img{
    width: 100%;
}

.he-big-post-item .he-post-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #FFF;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}

.he-big-post-item h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.he-news-module-nine .he-post-item .he-post-thumb{
    float: left;
    width: 120px;
}

.he-news-module-nine .he-post-item .he-post-content{
    margin-left: 140px;
}

/* News Module Ten */

.he-news-module-ten .he-post-item .he-post-thumb{
    float: left;
    width: 120px;
}

.he-news-module-ten .he-post-item .he-post-content{
    margin-left: 140px;
}

/* Carousel Section */
.he-carousel-block .he-post-thumb{
    margin-bottom: 20px;
}

.he-carousel-block .he-post-content{
    text-align: center;
    padding: 0 10px;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev, 
.he-carousel-block .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 35px;
    line-height: 40px;
    text-align: center;
    background: #0078af;
    font-size: 16px;
    color: #FFF;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev{
    left: 0;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.he-carousel-block .owl-carousel:hover .owl-nav button.owl-prev, 
.he-carousel-block .owl-carousel:hover .owl-nav button.owl-next{
    opacity: 1;
}

.he-carousel-block .owl-carousel .owl-nav button.owl-prev:hover, 
.he-carousel-block .owl-carousel .owl-nav button.owl-next:hover{
    background: #000;
}

.he-carousel-block .owl-carousel .owl-dots{
    margin-top: 40px;
    text-align: center;
}

.he-carousel-block .owl-carousel button.owl-dot{
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: 0;
    margin: 0 5px;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    border-radius: 20px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.he-carousel-block .owl-carousel button.owl-dot.active{
    transform: scale(1.2);
}

@media screen and (max-width: 768px){
    .he-news-module-one .he-news-module-one-wrap,
    .he-news-module-two .he-news-module-two-wrap,
    .he-news-module-three .he-news-module-three-wrap,
    .he-news-module-eight .he-news-module-eight-wrap{
        flex-wrap: wrap;
    }

    .he-news-module-one .he-post-item:nth-child(1),
    .he-news-module-two .col1,
    .he-news-module-three .col1{
        width: 100%;
        order: unset;
        margin-bottom: 30px;
    }

    .he-news-module-one .he-post-item:nth-child(2),
    .he-news-module-one .he-post-item:nth-child(3),
    .he-news-module-two .col2,
    .he-news-module-two .col3{
        order: unset;
        width: 50%;
    }

    .he-news-module-three .col2,
    .he-news-module-eight .he-big-block, 
    .he-news-module-eight .he-small-block{
        width: 100%;
    }

    .he-news-module-four .he-post-item{
        width: 50%;
        margin-bottom: 30px;
    }

    .he-news-module-eight .he-big-block{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 580px){

    .he-news-module-one .he-news-module-one-wrap,
    .he-news-module-two .he-news-module-two-wrap,
    .he-news-module-three .he-news-module-three-wrap{
        display: block;
    }

    .he-news-module-one .he-post-item:nth-child(1),
    .he-news-module-one .he-post-item:nth-child(2),
    .he-news-module-one .he-post-item:nth-child(3),
    .he-news-module-two .col1,
    .he-news-module-two .col2,
    .he-news-module-two .col3,
    .he-news-module-three .col1,
    .he-news-module-three .col2{
        width: 100%;
        order: unset;
        margin-bottom: 30px;
    }

    .he-news-module-three .col2 .he-post-item,
    .he-news-module-three .col2 .he-post-item:nth-last-child(2){
        width: 100%;
        margin-bottom: 30px;
    }

    .he-news-module-one .he-post-item:last-child,
    .he-news-module-four .he-post-item:last-child{
        margin-bottom: 0;
    }

    .he-news-module-four .he-post-item:nth-child(1), 
    .he-news-module-four .he-post-item:nth-child(2),
    .he-news-module-four .he-post-item{
        width: 100%;
    }

    .he-news-module-five .he-big-block,
    .he-news-module-five .he-small-block{
        width: 100%;
        float: none;
    }

    .he-news-module-five .he-big-block{
        margin-bottom: 30px;
    }

    .he-news-module-six .he-small-block{
        display: block;
    }

    .he-news-module-six .he-small-block .he-post-item{
        width: 100%;
        margin-bottom: 30px;
    }

    .he-news-module-six .he-small-block .he-post-item:last-child{
        margin-bottom: 0;
    }

    .he-news-module-seven .he-big-block .he-post-thumb,
    .he-news-module-seven .he-big-block .he-post-content{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        float: none;
        margin: 0;
    }

    .he-news-module-seven .he-small-block .he-post-item:nth-last-child(2){
        margin-bottom: 30px;
    }

    .he-news-module-seven .he-big-block .he-post-thumb{
        margin-bottom: 20px;
    }

    .he-news-module-seven .he-small-block .he-post-item{
        width: 100%;
    }

    .he-news-module-eight .he-small-block .he-post-item{
        width: 100%;
    }

    .he-news-module-eight .he-small-block .he-post-item:nth-last-child(2){
        margin-bottom: 30px;
    }
}